﻿@model MvcBlog.Models.HomePageModel

@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}



<h3>Blogs tagged <em>@ViewBag.TagName</em></h3>

<ul>

    @foreach (var blog in Model.Blogs)
    {
        <li><a href="~/Blog/Index/@blog.Id">@(blog.Title)</a></li>

    }


</ul>
