﻿@model MvcBlog.Models.BlogsViewModel

@{
    Layout = null;
}

    
    <ul style="padding-left:15px;">

        @foreach (var p in Model.BlogList)
        {
            <li>
                <a href="~/BlogAdmin/Edit/@p.Id">@(p.Title + " " + "(" + p.CreatedDate + ")")</a>
            </li>
        }


    </ul>
    
