﻿@model MvcBlog.Models.BlogsViewModel

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<title>@ViewBag.Title - Blogs Application</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	
	@Styles.Render("~/Content/css")
	

	<!--TODO-->
	<link href="~/Controls/markitup/skins/markitup/style.css" rel="stylesheet" />
	<link href="~/Controls/markitup/sets/default/style.css" rel="stylesheet" />
	
	<link href="~/Content/buttons.css" rel="stylesheet" />


	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")



	@Scripts.Render("~/bundles/modernizr")
	
	<script src="~/Controls/markitup/jquery.markitup.js" ></script>
	<script src="~/Controls/markitup/sets/default/set.js" ></script>

	<script>

		$(document).ready(function () {

			var controller = '@ViewContext.RouteData.Values["Controller"]';
			var action = '@ViewContext.RouteData.Values["Action"]';

			if ((action != "Index") && (controller == 'BlogAdmin')) {

				var id = '';

				switch (action) {

					case 'Tags':
						 id = "Cat_" + 'Tags';
						break;
					case 'Create':
						id = "Cat_" + 'Blog';
						break;
				}

				$("#" + id).addClass("selected_category");
			}
			else {
				if (controller == 'BlogAdmin')
					$("#Cat_Home").addClass("selected_category");
			}


		});

	</script>


</head>
	

<body>

	<div id="header">
		<h1>Smart Blog</h1>
		<ul>
			<li><a id="Cat_Home" href="~/BlogAdmin/">Admin Home</a></li>
			<li><a id="Cat_Blog" href="~/BlogAdmin/Create">Create New Blog</a></li>
			<li><a id="Cat_Tags" href="~/BlogAdmin/Tags">Manage Tags</a></li>
		</ul>
		<p id="layoutdims_admin">
			<span style="float:left;">Welcome @HttpContext.Current.User.Identity.Name</span>
			@Html.ActionLink("Log out", "LogOut", "Account")
		</p>
	</div>
	<div class="colmask leftmenu">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->

				<div id="body">
					@RenderBody()
				</div>

				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
				<div id="ads">
					<a href="~/Home">
						<img src="@Url.Content("~/Images/BlogImage.jpg")" width="125" border="0" height="125" alt="" />
					</a>
				</div>
				<h2>Latest Blogs</h2>


				<!--Blog list (last 10..) -->
				@{Html.RenderAction("Index", "BlogAdminHelper");}
				<!-- Column 2 end -->
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Alexey Geller, 2012-2013</p>
	</div>



	@RenderSection("scripts", required: false)
</body>
</html>
