﻿@model MvcBlog.Models.HomePageModel

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title - Blogs Application</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		@Styles.Render("~/Content/css")
		
		<!--TODO-->
		<link href="~/Content/buttons.css" rel="stylesheet" />


		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/jqueryval")

		@Scripts.Render("~/bundles/modernizr")


		<script>


			$(document).ready(function () {
				//get Category Id
				var id = '@ViewContext.RouteData.Values["id"]';
				var controller = '@ViewContext.RouteData.Values["Controller"]';

				if ((id != "") && (controller == 'Home')) {

					id = "Cat_" + id;
					$("#" + id).addClass("selected_category");
				}
				else {
					if (controller == 'Home')
						$("#Cat_Home").addClass("selected_category");
				}

			});

		</script>


	</head>



	<body>

<div id="header">
	<h1>Smart Blog</h1>
@*	<h3 style="margin-left:20px;">Blog categories</h3>*@
	<ul>
		<li><a id="Cat_Home" href="~/Home">Home</a></li>
		@foreach (var item in Model.Categories)
		{ 
			<li>
				<a id="@("Cat_" + item.Id)" href="~/Home/Categories/@item.Id">@item.Name</a>
			</li>
		}

	</ul>
	<p id="layoutdims">
		<span style="float:left;display:@(HttpContext.Current.User.Identity.IsAuthenticated ? "block" : "none")">Welcome @HttpContext.Current.User.Identity.Name</span>
		@Html.ActionLink("Admin","Index","BlogAdmin")
	</p>
</div>
<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<!-- Column 1 start -->

			@RenderSection("featured", required: false)

			<div id="body">
				@RenderBody()
			</div>

			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
			<div id="ads">
				<a href="~/Home">
					<img src="@Url.Content("~/Images/BlogImage.jpg")" width="125" border="0" height="125" alt="" />
				</a>
			</div>
			<h2>Latest Blog posts</h2>
			<ul style="padding-left:15px;">
				<!--Blog list (last 10..) -->
				@foreach (var blog in Model.Blogs.OrderByDescending(p=>p.CreatedDate))
				{ 
					<li>
						<a href="~/Blog/Index/@blog.Id">@(blog.Title + " " + "(" + blog.CreatedDate + ")")</a>
					</li>
					
				}
			</ul>
			<h2>Tags</h2>
				@{Html.RenderAction("TagListFull", "BlogAdminHelper");}

			<!-- Column 2 end -->
		</div>
	</div>
</div>
		<div id="footer">
		<p>Alexey Geller, 2012-2013</p>
</div>


		@RenderSection("scripts", required: false)
	</body>
</html>
