body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#D6DBE9;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3, h4, h5 {
	margin:.8em 0 .2em 0;
	padding:0;
	font-family:'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom:1px solid #000;

}

#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	/*display:inline;*/
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}

#layoutdims_admin {
	clear:both;
	background:#eee;
	border-top:4px solid #f00;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}


/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:#D6DBE9;		/* right column background colour */
}
.leftmenu .colleft {
	right:75%;			/* right column width */
	background:#D6DBE9;	/* left column background colour */
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:21%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
	font-size: .7em;
}

label{
	font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}


input {
	width: 200px;
	height: 28px;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #ddd;
	-moz-box-shadow: 0 0 5px #116776 inset;
	-webkit-box-shadow: 0 0 5px #116776 inset;
	box-shadow: 0 0 5px #116776 inset;
	text-indent: 5px;
	font-size: 12px;
	font-family: 'Arial Black', Gadget, sans-serif;
	line-height: 25px;
} 


.styled-select select {
   background: transparent;
   width: 230px;
   padding: 5px;
   border: 0;
   border-radius: 0;
   height: 28px;
   }

.styled-select {
   width: 200px;
   height:28px;
   line-height:25px; 
   overflow: hidden;
   background: url(../Images/down_arrow_select.jpg) no-repeat right #ddd;
   -webkit-border-radius:5px; 
   -moz-border-radius:5px; 
   border-radius:5px; 
   box-shadow:0 0 5px #116776 inset; 

   font-family: 'Arial Black', Gadget, sans-serif;
   font-size: 12px;

   }


textarea { 
   background-color:  #ddd;

   border:none; 
   -webkit-border-radius:5px; 
   -moz-border-radius:5px; 
   border-radius:5px; 
   -webkit-box-shadow:0 0 5px #116776 inset; 
   -moz-box-shadow:0 0 5px #116776 inset; 
   box-shadow:0 0 5px #116776 inset; 
   height:50px;
   line-height:25px; 
   width:200px; 
   text-indent:5px; 

   font-family: 'Arial Black', Gadget, sans-serif;
   font-size: 12px;

}


input:focus { outline:none; }


.selected_category {
	font-weight:bold;
	background: none repeat scroll 0 0 rgb(33, 66, 88) !important;
	color: #fff !important;
}


#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 45px;*/
	width: 90%;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}


