﻿@model MvcBlog.Models.HomePageModel

@{
    ViewBag.Title = "Log in";
        //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>*@

<section id="loginForm">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="width: 50%; padding-left: 30px; padding-top: 30px; margin-top: 10px;">

            <legend>Log In</legend>
            @Html.LabelFor(m => m.LoginModel.UserName)
            @Html.TextBoxFor(m => m.LoginModel.UserName)
            @Html.ValidationMessageFor(m => m.LoginModel.UserName)<br />

            @Html.LabelFor(m => m.LoginModel.Password)&nbsp;&nbsp;
            @Html.PasswordFor(m => m.LoginModel.Password)
            @Html.ValidationMessageFor(m => m.LoginModel.Password)<br />

@*            <div style="margin-top: 10px; margin-bottom: 20px; margin-left: 65px;">
                @Html.CheckBoxFor(m => m.LoginModel.RememberMe, new { style = "width:20px;height:0px;" })
                @Html.LabelFor(m => m.LoginModel.RememberMe, new { @class = "checkbox" })
            </div>*@

            <input type="submit" value="Log in" style="margin-left: 0px;" />

@*            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.

            </p>*@



        </fieldset>
    }
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
