﻿@model MvcBlog.Models.ErrorViewModel

@{
    ViewBag.Title = "Server Error";
    Layout = null;
}

<h2>Server Error</h2>

<p>Request URL: @Model.RequestedUrl</p>
<p>Exception: @Model.Exception.Source
</p>