﻿@model MvcBlog.Models.BlogsViewModel

@{
	ViewBag.Title = "Create new blog post";
	Layout = "~/Views/Shared/_BlogAdminLayout.cshtml";
}

<script type="text/javascript">

	$(document).ready(function () {
		$('li:contains("Please")').addClass("custom_message");

		$("#Body").markItUp(mySettings);


		$("#Tags").on("click", function (event) {
		    $(this).val("");
		    $(this).css("font-style", "normal");
		});

	});



</script>


<style>

	.validation-summary-errors ul {
		font-family:'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
		color: red;
		list-style:square;
		padding-left:20px;
	}

	.custom_message{
		list-style-type: none;    
		padding-top:10px;
	}

	input, label {
		display:block;
	}

</style>

<h2>Create new blog</h2>

@using (Html.BeginForm("Create", "BlogAdmin", FormMethod.Post, new { id = "createForm" }))
{
	@Html.ValidationSummary()
	<div>
		<label for="Title">Title</label>
		<p style="padding-bottom:10px;">
		@Html.TextBoxFor(p => p.NewBlog.Title, new { maxlength = "200", Name = "Title" , id = "Title"  })
		</p>
	</div>
	<div>
		<label for="Description">Description</label>
		<p style="padding-bottom:10px;">
		@Html.TextAreaFor(p => p.NewBlog.Description, new { maxlength = "1024", Name = "Description" , id = "Description"})
		</p>
	</div>
	<div>
		<label for="Category">Category</label>
		<p class="styled-select">
		@Html.DropDownListFor(p => p.CategoryId, Model.CategoryList, "-Select Category-")
		</p>
	</div>
	
	<div>
		<label for="Tags" style="padding-top:10px;">Tags</label>
		<p style="padding-bottom:10px;">
		@Html.TextBoxFor(p => p.NewBlog.Title, new { maxlength = "200", Name = "Tags" , id = "Tags", Value="Comma separated list", style="font-style:italic;" })
		</p>
	</div>
	
	<div style="padding-top:12px;">
		<label for="Body">Body</label>
		<p style="padding-bottom:10px;">
		@Html.TextAreaFor(p => p.NewBlog.Body, new { Name = "Body" , id = "Body"})
		</p>
	</div>
	
	<div>
		<input type="submit" class="button green"  value="Submit" />    <a href="#" class="button red" onclick="javascript: window.location = '@Url.Action("","BlogAdmin")';">Cancel</a>
	</div>
}

