﻿@model MvcBlog.Models.BlogsViewModel

@{
	ViewBag.Title = "Edit blog";
	Layout = "~/Views/Shared/_BlogAdminLayout.cshtml";
}

<script type="text/javascript">

	$(document).ready(function () {
		$('li:contains("Please")').addClass("custom_message");

		$("#Body").markItUp(mySettings);
	});



</script>


<style>

	.validation-summary-errors ul {
		font-family:'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
		color: red;
		list-style:square;
		padding-left:20px;
	}

	.custom_message{
		list-style-type: none;    
		padding-top:10px;
	}

	input, label {
		display:block;
	}

</style>


<h2>Edit blog <em>@Model.NewBlog.Title</em></h2>

@using (Html.BeginForm("Edit", "BlogAdmin", FormMethod.Post, new { id = "createForm" }))
{
	@Html.ValidationSummary()
	<p>
		<label for="Title">Title</label>
		@Html.TextBoxFor(p => p.NewBlog.Title, new { maxlength = "200", Name = "Title" , id = "Title"  })
	</p>
	<p>
		<label for="Description">Description</label>
		@Html.TextAreaFor(p => p.NewBlog.Description, new { maxlength = "1024", Name = "Description" , id = "Description" })
	</p>
	<p>
		<label for="Category">Category</label>
		<div class="styled-select">
		@Html.DropDownListFor(p => p.CategoryId, Model.CategoryList, "-Select Category-")
		</div>
	</p>
	
	<p>
		<label for="Tags" style="padding-top:10px;">Tags</label>
		<p style="padding-bottom:10px;">
			@{Html.RenderAction("TagListCommaSeparated", "BlogAdminHelper", new { tagList = Model.NewBlog.Tags });}
		</p>
	</p>
	
	<p>
		<label for="Body">Body</label>
		@Html.TextAreaFor(p => p.NewBlog.Body, new { Name = "Body", id = "Body" })
	</p>
	
	@Html.HiddenFor(p=>p.NewBlog.Id, new { Name = "Id", id = "Id" })
	
	<div>
		<input type="submit" value="Submit" />  <a href="#" class="button red" onclick="javascript: window.location = '@Url.Action("", "BlogAdmin")';" >Cancel</a>
	</div>
}


