﻿@model MvcBlog.Models.BlogsViewModel

@{
	ViewBag.Title = "Admin Home";    
	Layout = "~/Views/Shared/_BlogAdminLayout.cshtml";    
}

<style>

	.center_cell {
			padding-top:27px !important;
		}

	.search {
		font-style:italic;
	
	}

</style>


<script type="text/javascript" >
	$(document).ready(function() {
	
		$(".delete_button").on("click", function (event) {
			var id = $(this).attr('id');
			
			if (confirm("Are you sure you want to delete?")) {

				var apiUri= "@Url.HttpRouteUrl("DefaultApi", new { controller = "Blog", })";

				$.ajax({
					url: apiUri + '/' + id, //use WebAPI 
					type: 'DELETE',
					data: { id: id },
					success: function (result) {
						alert("Delete successful");
						location.reload();// reload page after AJAX request
					}
				});


				//$.ajax({
				//    url: '/BlogAdmin/Delete',
				//    type: 'POST',
				//    data: { id: id },
				//    success: function (result) {
				//        alert("Delete successful");
				//        location.reload();// or windows.location(retURL); 
				//    }
				//});
			}
		});

		$(".update_button").on("click", function (event) {
			var id = $(this).attr('id');

			var arr = id.split('_');

			var uri = "@Url.Action("Edit","BlogAdmin")";
			window.location.href = encodeURI( uri + "/" + arr[0]);
		});

		$("#Search").on("click", function (event) {
			$(this).val("");
		});

		$("#Search").keypress(function (e) {
			if (e.which == 13) {
				var uri = "@Url.Action("","BlogAdmin")";
				window.location.href = uri + "/?searchToken=" + $("#Search").val();

			}
		});
	});



</script>


<div>
	<h3>Placeholder</h3>
	<p></p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales mauris at neque congue ut pretium arcu venenatis. Nam sed dolor ac risus euismod vulputate a in elit. Aenean tincidunt hendrerit dui vitae rhoncus. Mauris arcu est, fringilla nec dapibus quis, viverra dignissim mauris. Donec a nunc vehicula mauris venenatis aliquam. Sed vel sem massa, vel sagittis neque. Suspendisse pretium laoreet tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ante ipsum, facilisis et facilisis sit amet, elementum a elit.
	</p>


	<div>
		<input class="search" id="Search" type="search" value="Search for blogs" />
	</div>
	<div style="margin-bottom:20px; margin-top:10px;">
		<label id="SearchToken">
			@(HttpContext.Current.Request.Params["searchToken"] != null ? "Search filtered by: " + HttpContext.Current.Request.Params["searchToken"] : "" )</label>
		&nbsp;
		@(HttpContext.Current.Request.Params["searchToken"] != null ? Html.ActionLink("Reset search", "", "BlogAdmin", new {style="display:inline;" }) :
				Html.ActionLink("Reset search", "", "BlogAdmin", new {style="display:none;" }))
	</div>

	<table id="box-table-a">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Description</th>
				<th scope="col">Body</th>
				<th scope="col">Tags</th>
				<th scope="col">Talkback replies</th>
				<th scope="col">&nbsp;</th>
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.BlogList)
			{   <tr>
					<td style="width:20%;">
						<a href="~/BlogAdmin/Edit/@item.Id">@(item.Title)</a>
					</td>
					<td style="width:20%;">@item.Description</td>
					<td style="width:30%;"><span>@Html.Encode(Html.Raw(item.Body))</span></td>
					<td style="text-align:center;">
						@{Html.RenderAction("TagList", "BlogAdminHelper", new { tagList = item.Tags });}
					</td>
					<td style="text-align:center;">
						<a href="~/BlogAdmin/TalkBacks/@item.Id" title="Manage talk backs">T:@item.TalkBacks.Count()|A:@item.TalkBacks.Where(p=>p.IsApproved == true).Count()</a>
					</td>
					@*<td class="center_cell"><a id="@(item.Id + "_upd")" class="update_button button blue" href="javascript:void(0)" >Edit</a></td>*@
					@*<td class="center_cell"><a id="@item.Id" class="delete_button button red" href="javascript:void(0)" >Delete</a></td>*@
					<td><img src="~/Images/edit.png" class="update_button" id="@(item.Id + "_upd")" title="Edit" width="17" height="17" style="cursor:pointer;" /></td>
					<td><img src="~/Images/delete.png" class="delete_button" id="@item.Id" title="Delete" width="17" height="17" style="cursor:pointer;" /></td>
				</tr>
			}
		</tbody>
	</table>
	<div style="padding-top:20px;">
		@Html.ActionLink("Create new blog", "Create", "BlogAdmin", null, new {@class = "button green" }) <!--4-th null parameter is to get rid of ?Length-->
		@Html.ActionLink("Manage tags", "Tags", "BlogAdmin", null, new {@class = "button green" }) <!--4-th null parameter is to get rid of ?Length-->
	</div>
	<br />
	
 

</div>
