﻿@model MvcBlog.Models.BlogsViewModel

@Scripts.Render("~/bundles/jquery_plugins")

<link href="~/Content/buttons.css" rel="stylesheet" />


<script type="text/javascript">


	$(document).ready(function () {

		$('.update_button').click(function () {

			var id = $(this).attr('id');
			var arr = id.split('_');
			$("#selected_tag").val(arr[0]);

			var name = "#" + arr[0];

			$("#myval").val($(name).text());

			$.blockUI({ message: $('#question'), css: { width: '275px' } });
		});

		$('.delete_button').click(function () {


			var id = $(this).attr('id');
			var arr = id.split('_');
			$("#selected_tag").val(arr[0]);

			var name = "#" + arr[0];

			$("#myval").val($(name).text());


			//delete
			var apiUri = "@Url.HttpRouteUrl("DefaultApi", new { controller = "Tag" })" + "/" + $("#selected_tag").val();

			if (confirm("Are you sure you want to delete?")) {

				$.ajax({
					url: apiUri,
					cache: false,
					type: 'DELETE',
					contentType: 'application/json; charset=utf-8',
					success: function () {
						window.location.href = "@Url.Action("Tags", "BlogAdmin")";
					},
					error: function (jqXHR) {
						alert('Tag delete failed!');// + jqXHR.statusText);
						$.unblockUI();

					}
				});
			}

		});


		$('#yes').click(function () {
			// update the block message 
			//$.blockUI({ message: "<h1>Remote call in progress...</h1>" }); 


			var name = $("#myval").val();

			var apiUri = "@Url.HttpRouteUrl("DefaultApi", new { controller = "Tag" })" + "/" + $("#selected_tag").val();

			var tag = {
				Name: name,
				Id: $("#selected_tag").val()
			};

			$.ajax({
				url: apiUri,
				cache: false,
				type: 'PUT',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(tag),
				complete: function () {
					// unblock when remote call returns 
					$.unblockUI();

					window.location.href = "@Url.Action("Tags", "BlogAdmin")";
				},

				error: function (jqXHR) {

					alert('This tag already exist!');// + jqXHR.statusText);
					$.unblockUI();

				}
			});
			

		});

		$('#no').click(function () {
			$.unblockUI();
			return false;
		});


		$('#create_new').click(function () {
			$.blockUI({ message: $('#new_tag'), css: { width: '290px' } });

		});

		$('#no_new').click(function () {
			$.unblockUI();
			return false;
		});

		$('#yes_new').click(function () {

			var name = $("#new_val").val();

			var apiUri = "@Url.HttpRouteUrl("DefaultApi", new { controller = "Tag" })";

			var tag = {
				Name: name,
				Id: -1
			};

			$.ajax({
				url: apiUri,
				cache: false,
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(tag),
				complete: function () {
					// unblock when remote call returns 
					$.unblockUI();

					window.location.href = "@Url.Action("Tags", "BlogAdmin")";
						},

						error: function (jqXHR) {

							alert('This tag already exist!');// + jqXHR.statusText);
							$.unblockUI();

						}
					});
			
			});

	});
</script>

<style>
	.center_cell {
		padding-top: 27px !important;
	}
</style>


@{
	ViewBag.Title = "Tags";
	Layout = "~/Views/Shared/_BlogAdminLayout.cshtml";
}

<h2>Tags</h2>


<table style="width: 300px;" id="box-table-a">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">&nbsp;</th>
			<th scope="col">&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model.TagList)
		{   <tr>
			<td style="width: 40%;">
			<label id="@item.Id">@(item.Name)</label>
			</td>
@*			<td class="center_cell"><a id="@(item.Id + "_upd")" class="update_button button blue" href="javascript:void(0)" >Edit</a></td>
			<td class="center_cell"><a id="@(item.Id + "_del")" class="delete_button button red" href="javascript:void(0)" >Delete</a></td>*@
			<td><img src="~/Images/edit.png" class="update_button" id="@(item.Id + "_upd")" title="Edit" width="17" height="17" style="cursor:pointer;" /></td>
			<td><img src="~/Images/delete.png" class="delete_button" id="@(item.Id + "_del")" title="Delete" width="17" height="17" style="cursor:pointer;" /></td>

			</tr>
		}
	</tbody>
</table>

<p style="padding-top:20px;">
	<a id="create_new" class="button green" href="javascript:void(0)" >Create New</a>
</p>

<!--Edit dialog begin-->
<div id="question" style="display: none; cursor: default; padding-bottom: 30px;">
	<h3>Edit tag value</h3>
	<p><input type="text" id="myval" /></p>
	<div style="margin-left:40px; margin-right:40px;">
		<img src="~/Images/OK.png" id="yes" width="40" height="40" style="cursor:pointer;float:left;"/>
		<img src="~/Images/Cancel.png" id="no" width="40" height="40" style="cursor:pointer;float:right;"/>
	</div>
</div>
<!--Edit dialog end-->

<!--Create New dialog begin-->
<div id="new_tag" style="display: none; cursor: default; padding-bottom: 30px; padding-right: 10px;">
	<h3>Create new tag</h3>
	<p><input type="text" id="new_val" /></p>
	<div style="margin-left:40px; margin-right:40px;">
		<img src="~/Images/OK.png" id="yes_new" width="40" height="40" style="cursor:pointer;float:left;"/>
		<img src="~/Images/Cancel.png" id="no_new" width="40" height="40" style="cursor:pointer;float:right;"/>
	</div>
</div>
<!--Create New dialog end-->


<input type="hidden" id="selected_tag" />

