﻿@model MvcBlog.Models.BlogsViewModel

@{
	ViewBag.Title = "TalkBacks";
	Layout = "~/Views/Shared/_BlogAdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery_plugins")
@Scripts.Render("~/bundles/knockout")


<script type="text/javascript">

	function ViewModel() {

		var self = this;


		// A nested view model that represents a single product.
		function TalkBackViewModel(reply) {
			var self = this;

			self.Id = reply.Id;
			self.BlogId = reply.BlogId;
			self.UserId = reply.UserId;
			self.IsApproved = reply.IsApproved;
			self.IsDeleted = reply.IsDeleted;
			self.Title = ko.observable(reply.Title);
			self.Comment = ko.observable(reply.Comment);
			self.SubmitterEmail = reply.SubmitterEmail;
			self.SubmitterName = reply.SubmitterName;
			self.SubmittedDate = reply.SubmittedDate;

			self.DisplayTitle = ko.computed(function () {
				return this.Title().length > 30 ? this.Title().substring(0, 29) + '..' : this.Title();//shorten the text
			}, this);

			self.DisplayComment = ko.computed(function () {
				return this.Comment().length > 30 ? this.Comment().substring(0, 29) + '..' : this.Comment();//shorten the text
			}, this);


			self.onChecked = function () {

				var uri = "@Url.HttpRouteUrl("DefaultApi", new { controller = "TalkBack" })" + "/" + self.Id;


				$.ajax({
					url: uri,
					cache: false,
					type: 'PUT',
					contentType: 'application/json; charset=utf-8',
					data: ko.toJSON(self)
				})
				.success(
					function () {
						$('#message').show('slow');
						$('#message').delay(1000).fadeOut('slow');
					})
				.fail(
				function (xhr, textStatus, err) {
					//TODO
					alert('Update failed');
				});

				return true;
			}


		}

		self.replies = ko.observableArray();   // Contains the list of TalkBack replies

		self.singleTalkBack = ko.observable(); //single TalkBack item, for editing


		var apiUri = "@Url.HttpRouteUrl("DefaultApi", new { controller = "TalkBack" })" + "/@Model.NewBlog.Id";

		self.RefreshModel = function () {

			$.getJSON(apiUri, function (talkbacks) {

				self.replies.removeAll(); //clear replies array

				var collection = jQuery.parseJSON(talkbacks);

				$.each(collection, function (index, talkback) {
					self.replies.push(new TalkBackViewModel(talkback));
				})

			});

		};
 
		self.onEdit = function (reply) {


			//this will bind reply object fields to dialog fields
			//self.singleTalkBack(reply);
			self.singleTalkBack(ko.toJS(reply)); //Important: ko.toJS(reply) removes observables from reply object!!!

			//for debugging
			var test = ko.toJSON(self.singleTalkBack);

			$.blockUI({ message: $('#question'), css: { width: '300px', height: '400px', top: '15%'}  });

		};


		//dialog No button handler
		self.onNo = function () {
			$.unblockUI();
			return false;
		}

		//dialog Yes button handler
		self.onYes = function () {

			if (!validateDialog())
				return false;

			//get selected reply from self.replies, no need for separate call to server!
			var selectedReply = ko.utils.arrayFirst(self.replies(), function (oneReply) {
				return oneReply.Id === self.singleTalkBack().Id;
			});

			//push to observable properties to update values
			//this will update the table view
			selectedReply.Title($("#Title").val());
			selectedReply.Comment($("#Comment").val());

			//just call onChecked to persist changes to database
			self.singleTalkBack().onChecked();

			$.unblockUI();
			return true;
		}


		//parameter is automatically supplies by knokout.js, in this case TalkBackViewModel object
		//http://knockoutjs.com/documentation/click-binding.html
		self.onDelete = function (reply) {

			if (confirm("Are you sure you want permanently delete this reply?")) {

				var uri = "@Url.HttpRouteUrl("DefaultApi", new { controller = "TalkBack" })" + "/" + reply.Id;

				$.ajax({
					url: uri,
					cache: false,
					type: 'DELETE',
					contentType: 'application/json; charset=utf-8'
				})
				.success(
					function () {

						self.RefreshModel(); //this should refresh model

					})
				.fail(
				function (xhr, textStatus, err) {
					//TODO
					alert('Update failed');
				});

				return true;

			}

		};



		// Initialize the view-model
		$.getJSON(apiUri, function (talkbacks) {

			var replies = jQuery.parseJSON(talkbacks);

			$.each(replies, function (index, talkback) {
				self.replies.push(new TalkBackViewModel(talkback));
			})

		});

	}



	$(document).ready(function () {

		//create the model and apply bindings
		var viewModel = new ViewModel();
		ko.applyBindings(viewModel);

	});


	function validateDialog() {
		var title = $("#Title").val();
		var comment = $("#Comment").val();
		var user = $("#User").val();

		if (title == '' || comment == '' || user == '') {
			alert('Please, provide all mandatory fields!');
			return false;
		}

		return true;
	}

</script>


<style>
	.dialog_label {
		display:block;
	}

</style>

<h2 style="margin-bottom:20px;">Replies for <em>@Model.NewBlog.Title</em></h2>


<table id="box-table-a">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Comment</th>
			<th>Is Approved</th>
			<th>Is Deleted</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: replies">
		<tr>
			<td style="padding: 10px;" data-bind="text: Id"></td>
			<td style="padding: 10px;" data-bind="text: DisplayTitle, attr: { title: Title }"></td>
			<td style="padding: 10px;" data-bind="text: DisplayComment, attr: { title: Comment }"></td>
			<td><input type="checkbox" style="width:70px;" data-bind="checked: IsApproved, click: onChecked" /></td>
			<td><input type="checkbox" style="width:60px;" data-bind="checked: IsDeleted, click: onChecked" /></td> 
			<td><img src="~/Images/edit.png" data-bind="attr: { id : 'edit_' + Id }, click: $parent.onEdit" title="Edit" width="17" height="17" style="cursor:pointer;" /></td>
			<td><img src="~/Images/delete.png" data-bind="attr: { id : 'del_' + Id }, click: $parent.onDelete" title="Delete" width="17" height="17" style="cursor:pointer;" /></td>

		</tr>
	</tbody>
</table>
<div id="message" style="display:none;">Update succesfull</div>


<!--dialog begins -->
<div id="question" style="display: none; cursor: default; text-align: left; padding-left:20px;" data-bind="if: singleTalkBack()">
	<h3 style="margin-bottom:15px;">Edit reply</h3>
	<p><label class="dialog_label" >Title</label>
	<textarea id="Title" data-bind="value: singleTalkBack().Title" maxlength="50"></textarea></p>
	<p><label class="dialog_label" >Comment</label>
		<textarea id="Comment" data-bind="value: singleTalkBack().Comment" maxlength="120"></textarea></p>
	<p><label class="dialog_label" >Submitter</label>
		<input type="text" id="User" data-bind="value: singleTalkBack().SubmitterName" maxlength="50" /></p>
	<p><label class="dialog_label" >Submitter Email</label>
		<input type="text" id="Email" data-bind="value: singleTalkBack().SubmitterEmail" maxlength="50" /></p>
	
	<img src="~/Images/OK.png" id="yes" data-bind="click: onYes" width="40" height="40" style="cursor:pointer;"/>
	<img src="~/Images/Cancel.png" id="no" data-bind="click: onNo" width="40" height="40" style="cursor:pointer;"/>

	@*<input type="button" style="margin-top:20px;" class="button" id="yes" value="Submit" data-bind="click: onYes" />*@
	@*<input type="button" style="margin-top:20px;" class="button" id="no"  value="Cancel" data-bind="click: onNo"  />*@
</div>
<!--dialog ends -->



