﻿@model MvcBlog.Models.HomePageModel

@Scripts.Render("~/bundles/jquery_plugins")

<link href="~/Content/buttons.css" rel="stylesheet" />



@{
	ViewBag.Title = "Blog";
	Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


<style>
	.details {
		background-color: #F0F0F0;
		width: 400px;
		border-radius: 5px;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(255, 219, 222);
		padding: 5px 5px 5px 5px;
	}

	.discussion_item {
		color: rgb(14, 46, 237);
	}


	.reply {
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		border-radius: 10px 10px 10px 10px;
		background: none repeat scroll 0 0 #E8EDFF;
		padding: 20px;
		width: 70%;
	}


</style>

<script type="text/javascript">

	$(document).ready(function () {

		$(".discussion_item").on("click", function (event) {
			var id = $(this).attr('id');
			var arr = id.split("_");

			toggleDetails(arr[1]);
		});

		$(".details").hide();


		$('#talk_back').click(function () {
			$.blockUI({ message: $('#new_reply'), css: { width: '350px', top: '25%' } });


		});

		$('#no').click(function () {
			$.unblockUI();
			return false;
		});


		$('#yes').click(function () {

			//validation
			if (($('#comment').val() == '') || ($('#title').val() == '') || ($('#name').val() == ''))
			{
				alert('Provide all mandatory fields!');
				return false;
			}

			var apiUri = "@Url.HttpRouteUrl("DefaultApi", new { controller = "TalkBack" })";

			var reply = {
				Id: -1,
				BlogId: Number("@Model.ActiveBlog.Id"),
				Blog: null,
				UserId: -1,
				IsApproved: Number("0"),
				IsDeleted: Number("0"),
				Comment: $('#comment').val(),
				Title: $('#title').val(),
				SubmitterEmail: $('#email').val(),
				SubmitterName: $('#name').val(),
				SubmittedDate: (new Date()).toJSON()

			};

			var some_val = JSON.stringify(reply);

			$.ajax({
				url: apiUri,
				cache: false,
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(reply),
				complete: function () {
					// unblock when remote call returns 
					$.unblockUI();

					window.location.href = "@Url.Action("", "Blog", new { id= @Model.ActiveBlog.Id })";
				},

				error: function (jqXHR) {

					alert('Error creating comment!');// + jqXHR.statusText);
					$.unblockUI();

				}
			});
			
		});



	});


	function toggleDetails(id) {
		var tag = "#d_" + id;

		$(tag).toggle();

	}


</script>


<h2>@Model.ActiveBlog.Title</h2>

<h5>@Model.ActiveBlog.CreatedDate.ToString("dd MMM yyyy, HH:mm tt")</h5>

<div style="width: 80%; text-align: justify;">
	@Model.ActiveBlog.Body
</div>



<div style="margin-top: 20px;">

	<h4>Talkbacks for this blog: @Model.ActiveBlog.TalkBacks.Count</h4>

	<p style="margin-top: 10px;"><a id="talk_back" href="javascript:void(0)">Leave a comment</a></p>

	<ul style="list-style: none;" class="reply" @(Model.ActiveBlog.TalkBacks.Count == 0 ? "hidden" : "")>

		@foreach (var tackback in Model.ActiveBlog.TalkBacks)
		{
			<li style="padding-bottom: 10px;">
				<a href="javascript:void(0)" class="discussion_item"  id="a_@tackback.Id">@tackback.Title</a>
				<p style="font-size: smaller;">@tackback.SubmitterName (@tackback.SubmittedDate)</p>
				<div class="details" id="d_@tackback.Id">@tackback.Comment</div>
			</li>
		}
	</ul>

</div>

<!--dialog begins -->
<div id="new_reply" style="display: none; cursor: default; padding-bottom: 30px; padding-right: 10px;">
	<h3>Blog comment</h3>
	<div style="padding-top:20px;">

		<table style="width:100%;">
			<tr>
				<td style="text-align:left;" >
					<label style="padding-left: 20px;" for="title">Title</label></td>
				<td>
					<input type="text" id="title" /><label style="color:red;">*</label></td>
			</tr>
			<tr>
				<td style="text-align:left; vertical-align:top;">
					<label style="padding-left: 20px;" for="comment">Comment</label></td>
				<td>
					<textarea id="comment" ></textarea><label style="color:red;">*</label>
				</td>
			</tr>
			<tr>
				<td style="text-align:left;">
					<label style="padding-left: 20px;" for="name">Name</label></td>
				<td>
					<input type="text" id="name" /><label style="color:red;">*</label></td>
			</tr>
			<tr>
				<td style="text-align:left;">
					<label style="padding-left: 20px;" for="email">Email</label></td>
				<td>
					<input type="text" id="email" /><label style="color:red;">&nbsp;</label></td>
			</tr>
		</table>

		<div style="padding-top:20px;">
			<input type="button" class="button" id="yes" value="Submit" />&nbsp;
			<input type="button" class="button" id="no" value="Cancel" />
		</div>

		<p style="font-size:smaller; font-weight:800;">Replies are moderated and will appear on the site when approved.</p>

	</div>
</div>
<!--dialog ends -->

