﻿@model MvcBlog.Models.HomePageModel

@{
	ViewBag.Title = "Categories";
	Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h3>Blogs in <em>@ViewBag.CategoryName</em> category</h3>

	<ul>
		@foreach (var item in Model.Blogs)
		{ 
			<li>
				<a id="@("Cat_" + item.Id)" href="~/Blog/Index/@item.Id">@item.Title</a>
			</li>
		}

	</ul>
