﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Smart Blog</h1>
                <h3>ASP.Net MVC4 demo application</h3>
            </hgroup>

        </div>
    </section>
}
<h3>Placeholder</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales mauris at neque congue ut pretium arcu venenatis. Nam sed dolor ac risus euismod vulputate a in elit. Aenean tincidunt hendrerit dui vitae rhoncus. Mauris arcu est, fringilla nec dapibus quis, viverra dignissim mauris. Donec a nunc vehicula mauris venenatis aliquam. Sed vel sem massa, vel sagittis neque. Suspendisse pretium laoreet tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ante ipsum, facilisis et facilisis sit amet, elementum a elit.
</p>
